<p-sidebar
  [style]="{ width: '20em', background: '#3d3d3d' }"
  [(visible)]="display"
  [fullScreen]="true"
  [style]="{ width: '100%', background: '#272727' }"
>
  <div class="sidebar-items">
    <div class="splitter"></div>
    <a
      (click)="display = false"
      class="sidebar-items__link"
      [routerLink]="['home']"
      >Home</a
    >
    <a
      (click)="display = false"
      class="sidebar-items__link"
      [routerLink]="['projects']"
      >Projects</a
    >
  </div>
  <div class="splitter"></div>
  <div class="main-container-top-bar-contact mobile mobile2">
    <p class="main-container-top-bar-contact__p">+48 692 557 843</p>
    <p class="main-container-top-bar-contact__p">darek.mizgalski@gmail.com</p>
  </div>
</p-sidebar>

<div class="main-container">
  <div class="main-container-top-bar">
    <button
      pButton
      pRipple
      (click)="display = !display"
      type="button"
      icon="pi pi-align-left"
      class="p-button-text p-button-warn main-container-top-bar__button"
    ></button>

    <div class="main-container-top-bar-contact">
      <p class="main-container-top-bar-contact__p">+48 603 998 419</p>
      <p class="main-container-top-bar-contact__p">darek.mizgalski@gmail.com</p>
    </div>
  </div>
  <div class="main-container-content">
    <router-outlet></router-outlet>
  </div>
</div>
