<p-galleria
  [value]="images"
  [autoPlay]="true"
  [showThumbnails]="false"
  [transitionInterval]="10000"
  [responsiveOptions]="responsiveOptions"
  [circular]="true"
>
  <ng-template pTemplate="item" let-item>
    <img [src]="item.previewImageSrc" [alt]="item.alt" />
  </ng-template>
</p-galleria>
<div class="overlay">
  <p class="overlay__p1">Hej,</p>
  <p class="overlay__p2">Jestem Dariusz Mizgalski</p>
  <p class="overlay__p2">mgr inż. inżynier</p>
  <a
    class="link"
    target="_blank"
    href="mailto:{{ 'darek.mizgalski@gmail.com' }}"
  >
    <button
      pButton
      type="button"
      class="p-button-secondary"
      label="Zapraszam do kontaku"
    ></button>
  </a>
</div>
